section {
    max-width: 500px;
    margin: auto;
    padding-top: 30px;
}


input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 2px solid red;
    background: #f1052626;
}

input,textarea, label{
    color: white;
}

@media screen and (max-width: 450px) {
  section{
   max-width: 350px;
  }
 }

